<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/styles/main.css" rel="stylesheet" th:href="@{/styles/main.css}"/>
    <title>Home page</title>
</head>
<body>
<div th:insert="header.html"></div>
<h1> Новачок (Novice).</h1>
<h2>
    Новачки дуже переживають за свою успішність; їх досвіду замало, щоб повести їх у правильному
    напрямку і вони не знають чи їх вчинки будуть правильними. Новачки зазвичай не хочуть вчитися, зате хочуть досягти
    миттєвого результату. Вони не знають як реагувати на помилки і тому легко збиваються з пантелику, коли щось іде “не
    так”. Зате вони можуть бути досить ефективними, коли їм дати набір контекстно незалежних правил у формі “у випадку
    ХХХ, роби УУУ”. Іншими словами їм необхідний рецепт або алгоритм.
</h2>
<hr>
<h1> Твердий початківець (Advanced beginner).</h1>
<h2> Тверді початківці починають вже потроху відступати від фіксованих правил.
    Вони можуть спробувати якісь задачі самостійно, але у них все ще є труднощі із усуненням проблем, які виникають.
    Початківці можуть скористатись порадами в правильному контексті, врахувавши свій досвід подібних ситуацій, але
    ледь-ледь. І хоч вони вже починають формулювати якісь загальні принципи, вони все ще не бачать “всієї картини”. Якщо
    спробувати надати їм ширший контекст – вони відмахнуться від нього як від недоречного.
</h2>
<hr>
<h1> Компетентний (Competent).</h1>

<h2>
    Компетентні будують правильні моделі проблемної області та ефективно нею користуються.
    Здатні усувати проблеми з якими раніше не стикались. Про людей на цьому рівні часто кажуть, що вони “мають
    ініціативу”. Вони можуть вчити новачків і не задовбують експертів. Щоправда їм ще бракує досвіду аби вдало
    розставити пріоритети при рішенні задач. Власне кажучи, саме з цього рівня людину можна вже назвати інженером –
    компетентні вирішують задачі, а не працюють за алгоритмом.

</h2>
<hr>
<h1> Досвідчений (Proficient).</h1>

<h2>
    Досвідченим необхідна “повна картина” проблемної області, адже вони хочуть розуміти весь
    концепт. Вони роблять значний прорив в рамках моделі братів Дрейфус, адже постійно оцінюють виконану роботу і
    переглядають свої підходи, аби наступного разу бути ще ефективнішими. Вони також можуть навчатись використовуючи
    чужий досвід. І найголовніше – вони завжди беруть до уваги контекст задачі. Якщо повернутись до програмування, то
    чудовий приклад ілюстрації – це використання патернів проектування. Лише досвідчені використовують їх виключно там
    де треба, а не бездумно і повсюдно, бо це круто і модно.

</h2>
<hr>
<h1>Експерт (Expert).</h1>
<h2> Експерти – основне джерело знань та інформації в будь-якій сфері. Вони безперестану шукають все
    кращі і кращі методи роботи. Вони завжди застосовують весь свій велетенський багаж знань у правильному контексті.
    Вони пишуть книжки, статті та проводять семінари. Це сучасні чаклуни. Експерти керуються інтуїцією . Доктор Хаус,
    який з одного погляду на пацієнта (або взагалі на його медичну картку) міг поставити діагноз – типовий приклад
    експерта. Експерти працюють за допомогою несвідомого “порівняння з взірцем” (“pattern matching”) у базі свого
    досвіду. От тільки проблема в тому, що функція “порівняння з взірцем” асинхронна і знаходиться в частині мозку, яка
    не підконтрольна свідомості.
</h2>
</body>
</html>
