<head>
    <meta charset="UTF-8">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/styles/main.css" rel="stylesheet" th:href="@{/styles/main.css}"/>

</head>
<div xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-default">
        <div class="container-fluid">


            <div class="container-fluid back">
                <!--                <div class="navbar-header">-->
                <!--                    <a class="navbar-brand" th:href="@{/}">Початкова сторінка</a>-->
                <!--                </div>-->

                <!--                <ul class="nav navbar-nav">-->
                <div sec:authorize="isAuthenticated()">

                    <a class="navbar-brand" href="/">Усі тести</a>
                    <a class="navbar-brand" th:href="@{|/test/${#authentication.principal.id}/result|}">Результат</a>
                    <a class="navbar-brand" href="/additional">Додаток</a>

                </div>
                <form class="navbar-form navbar-right" method="post" sec:authorize="isAuthenticated()"
                      th:action="@{/logout}">
                    <a class="navbar-brand"> Привіт, <a class="navbar-brand"
                                                        th:href="@{|/users/${#authentication.principal.id}/read|}"><span
                            sec:authentication="principal.firstName">Name</span></a></a>

                    <button class="btn btn-info mybut" type="submit">Вийти</button>
                </form>
            </div>
        </div>
    </nav>
</div>