<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Expert</title>
    <link href="../static/styles/main.css" rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>
<body>
<div th:insert="header.html"></div>

<h1>Експерт | Cписок питань:</h1>
<form method="post" th:action="@{|/test/${#authentication.principal.id}/expert/results|}">
    <div th:each="question : ${questions}">
        <h2 th:text="${question.text}+'?'"></h2>
        <div th:each="option : ${question.options}">
            <input required th:name="${question.text}+'?'" th:value="${option.grade}" type="radio"/>
            <label th:text="${option.text}"></label>
        </div>
        <hr/>
    </div>
    <button class="bt" type="submit">Побачити результат</button>
</form>
</body>
</html>
